[submodule "mbed-os"]
	path = mbed-os
	url = git@github.com:61ca52/mbed-os.git
	branch = feature/stm32l4a6-support
[submodule "cellular-test"]
	path = cellular-test
	url = git@github.com:61ca52/mbed-ce-cellular-test.git
[submodule "st87m01"]
	path = st87m01
	url = git@github.com:61ca52/mbed-ce-st87m01.git
